body{
  border-radius: 5px;
  text-align: center;
  padding: 10%;
  opacity: 82%;
  background-image: url("img/cover_05.jpeg");
  border-radius: 15px;
 
}




div {
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  height: 10px;
  padding: 40px;
  text-align: center;
  width: 50%;
}
.gr{
  font-family: 18%;
  padding: center;
  background: rgb(55, 56, 55);
}
.blue {
  color: aliceblue;
  font-size: 26px;
  background: rgb(0, 60, 255);
}
.low{
  font-size: 26px;
  width: 25%;
  background-color: rgb(146, 233, 233);
}
.yellow{
  font-size: 26px;
  width: 25%;
  background-color: rgb(233, 208, 216);
}
.green{
  
  background-color: rgb(236, 232, 238);
}
.ram{
  font-size: 26px;
  width: 25%;
  background-color: rgb(216, 120, 245);
}
.rom{
  
  font-size: 26px;
  width: 25%;
  background-color: rgb(236, 196, 209);
}
.btn{
  font-size: 18px;
  
  width: 30%;
  
}